/node_modules
/WebContent/ixviewer/gulp/node_modules/

/coverage

/dist
/dist-ix
dist.zip
/dist-ws
dist-ws.zip
/ixviewer
/wp-builds

/src/assets/

/src/Archives/edgar/data/

.classpath

.project

.settings/

.env

/releases

/v15.14.0
/v16.20.0
v18.18.2/
/v14.16.1
.vscode
cypress/downloads/
