{
    "http://fasb.org/us-gaap/2024": "{path-to-here}dqcrt-us-2024-V25-ruleset.zip",
    "http://fasb.org/us-gaap/2023": "{path-to-here}dqcrt-us-2023-V25-ruleset.zip",
    "http://fasb.org/us-gaap/2022": "{path-to-here}dqcrt-us-2022-V25-ruleset.zip"
    }
